NOCODB_URL=https://nocodb.estudiotech.es
NOCODB_TOKEN=your_api_token_here
NOCODB_BASE_ID=your_base_id_here

TABLE_HOTELS=
TABLE_CYCLES=
TABLE_FINDINGS=
TABLE_RECOMMENDATIONS=
TABLE_REVIEWS=
TABLE_REVIEW_SOURCES=
TABLE_HOTEL_OFFERS=
TABLE_SOCIAL_POSTS=
TABLE_METRICS=
TABLE_CONTEXT=

DEMO_HOTEL_ID=1
